specVersion: 1.2.0
indexerHints:
  prune: auto
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum
    name: RSR
    network: mainnet
    source:
      abi: ERC20
      address: "0x320623b8e4ff03373931769a31fc52a4e78b5d70"
      startBlock: 23197627
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - RSRBurn
      abis:
        - name: ERC20
          file: ./abis/erc20.json
      eventHandlers:
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleRSRBurn
          topic1: ["0xcBCa96091f43C024730a020E57515A18b5dC633B"]
          topic2: ["0x000000000000000000000000000000000000dEaD"]
      file: ./src/dtf/mappings.ts
{{#FolioDeployer}}
  - kind: ethereum
    name: FolioDeployer{{postfix}}
    network: {{network}}
    source:
      abi: FolioDeployer
      address: "{{address}}"
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - DTF
        - Token
        - Governance
        - GovernanceTimelock
        - StakingToken
      abis:
        - name: FolioDeployer
          file: ./abis/folio-deployer.json
        - name: ERC20
          file: ./abis/erc20.json
        - name: Governor
          file: ./abis/governor.json
        - name: Timelock
          file: ./abis/timelock.json
      eventHandlers:
        - event: FolioDeployed(indexed address,indexed address,address)
          handler: handleDTFDeployed
        - event: GovernedFolioDeployed(indexed address,indexed
            address,address,address,address,address)
          handler: handleGovernedDTFDeployed
      file: ./src/deploy/mappings.ts
{{/FolioDeployer}}
{{#GovernanceDeployer}}
  - kind: ethereum
    name: GovernanceDeployer{{postfix}}
    network: {{network}}
    source:
      abi: GovernanceDeployer
      address: "{{address}}"
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - StakingToken
        - Governance
        - Token
      abis:
        - name: ERC20
          file: ./abis/erc20.json
        - name: Governor
          file: ./abis/governor.json
        - name: Timelock
          file: ./abis/timelock.json
        - name: GovernanceDeployer
          file: ./abis/governance-deployer.json
        - name: StakingVault
          file: ./abis/staking-vault.json
      eventHandlers:
        - event: DeployedGovernedStakingToken(indexed address,indexed
            address,address,address)
          handler: handleDeployedGovernedStakingToken
      file: ./src/deploy/mappings.ts
{{/GovernanceDeployer}}
templates:
  - name: DTF
    kind: ethereum/contract
    network: {{network}}
    source:
      abi: DTF
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - DTF
        - Governance
        - Trade
        - GovernanceTimelock
      abis:
        - name: DTF
          file: ./abis/dtf.json
        - name: ERC20
          file: ./abis/erc20.json
        - name: Governor
          file: ./abis/governor.json
        - name: Timelock
          file: ./abis/timelock.json
      eventHandlers:
        - event: RebalanceStarted(uint256,uint8,address[],(uint256,uint256,uint256)[],(uint256,uint256)[],(uint256,uint256,uint256),uint256,uint256)
          handler: handleRebalanceStarted
        - event: RebalanceEnded(uint256)
          handler: handleRebalanceEnded
        - event: RebalanceControlSet((bool,uint8))
          handler: handleRebalanceControlSet
        - event: AuctionOpened(indexed uint256,indexed uint256,address[],(uint256,uint256,uint256)[],(uint256,uint256)[],(uint256,uint256,uint256),uint256,uint256)
          handler: handleSingletonAuctionLaunched
        - event: AuctionBid(indexed uint256,indexed address,indexed address,uint256,uint256)
          handler: handleSingletonAuctionBid
        - event: AuctionTrustedFillCreated(indexed uint256,address)
          handler: handleAuctionTrustedFillCreated
          receipt: true
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
          receipt: true
        - event: FolioFeePaid(indexed address,uint256)
          handler: handleFolioFeePaid
        - event: ProtocolFeePaid(indexed address,uint256)
          handler: handleProtocolFeePaid
        - event: RoleGranted(indexed bytes32,indexed address,indexed address)
          handler: handleRoleGranted
        - event: RoleRevoked(indexed bytes32,indexed address,indexed address)
          handler: handleRoleRevoked
        - event: MintFeeSet(uint256)
          handler: handleMintFeeSet
        - event: TVLFeeSet(uint256,uint256)
          handler: handleTvlFeeSet
        - event: AuctionDelaySet(uint256)
          handler: handleAuctionDelaySet
        - event: AuctionLengthSet(uint256)
          handler: handleAuctionLengthSet
        - event: MandateSet(string)
          handler: handleMandateSet
        - event: FeeRecipientsSet((address,uint96)[])
          handler: handleFeeRecipientsSet
        ### Deprecated events
        # v1.0 / v2.0 event
        - event: AuctionApproved(indexed uint256,indexed address,indexed
            address,(uint256,address,address,(uint256,uint256,uint256),(uint256,uint256,uint256),(uint256,uint256),uint256,uint256,uint256,uint256,uint256))
          handler: handleAuctionApproved
        - event: AuctionApproved(indexed uint256,indexed address,indexed
            address,(uint256,address,address,(uint256,uint256,uint256),(uint256,uint256,uint256),(uint256,uint256),uint256,uint256,uint256,uint256,uint256),((uint256,uint256),uint256))
          handler: handleAuctionApproved1
        # v1.0 event
        - event: AuctionOpened(indexed
            uint256,(uint256,address,address,(uint256,uint256,uint256),(uint256,uint256,uint256),(uint256,uint256),uint256,uint256,uint256,uint256,uint256))
          handler: handleAuctionLaunched
        # v2.0 event
        - event: AuctionOpened(indexed
            uint256,(uint256,address,address,(uint256,uint256,uint256),(uint256,uint256,uint256),(uint256,uint256),uint256,uint256,uint256,uint256,uint256),uint256)
          handler: handleAuctionLaunched1
        - event: AuctionClosed(indexed uint256)
          handler: handleTradeKilled
        # v1.0 / v2.0 event
        - event: AuctionBid(indexed uint256,uint256,uint256)
          handler: handleBid
      file: ./src/dtf/mappings.ts
  - name: StakingToken
    kind: ethereum/contract
    network: {{network}}
    source:
      abi: StakingVault
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - StakingToken
        - Delegate
        - Token
        - Account
        - AccountBalance
        - Governance
        - GovernanceTimelock
      abis:
        - name: StakingVault
          file: ./abis/staking-vault.json
        - name: ERC20
          file: ./abis/erc20.json
        - name: Governor
          file: ./abis/governor.json
        - name: Timelock
          file: ./abis/timelock.json
      eventHandlers:
        - event: RewardTokenAdded(address)
          handler: handleRewardTokenAdded
        - event: RewardTokenRemoved(address)
          handler: handleRewardTokenRemoved
        - event: DelegateChanged(indexed address,indexed address,indexed address)
          handler: handleDelegateChanged
        - event: DelegateVotesChanged(indexed address,uint256,uint256)
          handler: handleDelegateVotesChanged
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
        - event: OwnershipTransferred(indexed address,indexed address)
          handler: handleOwnershipTransferred
      file: ./src/staking-token/mappings.ts
  - name: UnstakingManager
    kind: ethereum/contract
    network: {{network}}
    source:
      abi: UnstakingManager
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - StakingToken
        - Token
        - Account
        - Lock
      abis:
        - name: UnstakingManager
          file: ./abis/unstaking-manager.json
        - name: ERC20
          file: ./abis/erc20.json
      eventHandlers:
        - event: LockCreated(uint256,address,uint256,uint256)
          handler: handleLockCreated
        - event: LockCancelled(uint256)
          handler: handleLockCancelled
        - event: LockClaimed(uint256)
          handler: handleLockClaimed
      file: ./src/staking-token/mappings.ts
  - name: Governance
    kind: ethereum/contract
    network: {{network}}
    source:
      abi: Governor
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - StakingToken
        - Token
        - Governance
        - GovernanceTimelock
        - Proposal
        - Vote
        - AccountBalance
        - Delegate
      abis:
        - name: Governor
          file: ./abis/governor.json
        - name: Timelock
          file: ./abis/timelock.json
      eventHandlers:
        - event: ProposalCanceled(uint256)
          handler: handleProposalCanceled
        - event: ProposalCreated(uint256,address,address[],uint256[],string[],bytes[],uint256,uint256,string)
          handler: handleProposalCreated
        - event: ProposalExecuted(uint256)
          handler: handleProposalExecuted
        - event: ProposalQueued(uint256,uint256)
          handler: handleProposalQueued
        - event: ProposalThresholdSet(uint256,uint256)
          handler: handleProposalThresholdSet
        - event: QuorumNumeratorUpdated(uint256,uint256)
          handler: handleQuorumNumeratorUpdated
        - event: VoteCast(indexed address,uint256,uint8,uint256,string)
          handler: handleVoteCast
        - event: VotingDelaySet(uint256,uint256)
          handler: handleVotingDelaySet
        - event: VotingPeriodSet(uint256,uint256)
          handler: handleVotingPeriodSet
      file: ./src/governance/mappings.ts
  - name: Timelock
    kind: ethereum/contract
    network: {{network}}
    source:
      abi: Timelock
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - GovernanceTimelock
        - Governance
        - StakingToken
        - DTF
      abis:
        - name: Timelock
          file: ./abis/timelock.json
        - name: Governor
          file: ./abis/governor.json
      eventHandlers:
        - event: RoleGranted(indexed bytes32,indexed address,indexed address)
          handler: handleTimelockRoleGranted
        - event: RoleRevoked(indexed bytes32,indexed address,indexed address)
          handler: handleTimelockRoleRevoked
        - event: MinDelayChange(uint256,uint256)
          handler: handleTimelockMinDelayChange
        - event: CallScheduled(indexed bytes32,indexed uint256,address,uint256,bytes,bytes32,uint256)
          handler: handleTimelockCallScheduled
        - event: Cancelled(indexed bytes32)
          handler: handleTimelockCancelled
      file: ./src/governance/mappings.ts
